//----- Store

#webstore-items
  .webstore-item
    width: 32.18390805%
    margin-left: 1.149425287%
    margin-bottom: 1.149425287%
    float: left
    .box
      border: 1px solid #ddd
      .price
        background-color: $section-info
        form
          float: right
          margin: 0px
