%tr.extras-row
  %td.information= extra.name_with_unit
  %td.cost.text-right= extra.price_with_discount(current_customer).format
  %td.quantity.text-right= g.input extra.id, input_html: { min: 0, value: 0, class: 'input-text span12' }, as: :integer, required: false, label: false
