- if payment_options.existing_customer?
  #webstore-payment-instructions
    .row-fluid
      .span10.legend
        .row-fluid Your existing account balance with us
        .row-fluid This order
        .row-fluid Closing balance
      .span2.prices
        .text-right= payment_options.current_balance
        .text-right= payment_options.order_price
        .text-right
          %span.total= payment_options.closing_balance

