.row-fluid
  .form-horizontal.span6.center-row
    = f.input :payment_method, as: :radio_buttons, collection: form_object.payment_list, checked: form_object.payment_method, label: 'Pay by:', label_html: { class: 'emphasised-label' }
