- title('Webstore - Store', false)
= render 'webstore_sidebar'
- if current_customer.present? && current_customer.halted?
  .alert.alert-error
    Your account is under the minimum balance and will not recieve new orders unless payment is cleared before the packing date.

.row-fluid
  .span12
    #webstore-items= render partial: 'product', collection: webstore_products
