- title('Webstore', false)

%ul#store-items.block-grid.four-up.mobile
  - @boxes.in_groups_of(4, false) do |box_row|
    = render partial: 'webstore/box', collection: box_row, locals: { distributor: @distributor }
