- title('Webstore', false)

%ul#webstore-items.block-grid.four-up.mobile
  - @boxes.in_groups_of(4, false) do |box_row|
    = render partial: 'box', collection: box_row, locals: { distributor: @distributor }
