# Bucky Box API
BUCKYBOX_API_KEY: ""
BUCKYBOX_API_SECRET: ""

# BugSnag
BUGSNAG_API_KEY: ""

# Google Analytics
GA_TRACKING_ID: ""

# Pingdom
PINGDOM_RUM_ID: ""

# URLs
MARKETING_SITE_URL: http://www.buckybox.com/

# Environment-dependant configuration
production:
  # Secret for config/secrets.yml
  SECRET_KEY_BASE: ""
