# Bucky Box API
BUCKYBOX_API_KEY: ""
BUCKYBOX_API_SECRET: ""

# Airbrake
AIRBRAKE_HOST: "api.airbrake.io"
AIRBRAKE_API_KEY: ""

# BugSnag
BUGSNAG_API_KEY: ""

# Google Analytics
GA_TRACKING_ID: ""

# New Relic
NEW_RELIC_LICENSE_KEY: ""

# Pingdom
PINGDOM_RUM_ID: ""

# Skylight
SKYLIGHT_AUTHENTICATION: ""

# URLs
MARKETING_SITE_URL: http://www.buckybox.com/

# Environment-dependant configuration
production:
  # Secret for config/secrets.yml
  SECRET_KEY_BASE: ""

