- cache([request.fullpath, webstore_products.map(&:id).hash, webstore_products.map(&:updated_at).max]) do
  %noscript
    .alert.alert-error
      = t('no_js')

  .row-fluid
    .span12
      #webstore-items= render partial: 'product', collection: webstore_products
