- if (Rails.env.production? || Rails.env.staging?) && Figaro.env.bugsnag_api_key.present?
  / Bugsnag
  = javascript_include_tag "https://d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js", "data-apikey" => Figaro.env.bugsnag_api_key
  :javascript
    if (typeof Bugsnag !== 'undefined') {
      Bugsnag.beforeNotify = function(payload) {
        return (navigator.userAgent.match(/MSIE|Trident|Mobile|Googlebot/i) === null);
      }
    }
